.corp-shell {
  background-color: #003300;
  color: gainsboro;
  margin: 0 auto;
  padding: 10px;
}

.corp-network {
  background-color: #000000;
  border: 1px solid black;
  margin: 10px auto;
  position: relative;
}
