.corp-node {
  background-color: black;
  border: 1px solid gainsboro;
  box-sizing: border-box;
  display: block;
  /* padding: 2px; */
  position: absolute;
  text-align: left;
}

.corp-node:hover {
  border: 2px solid gainsboro;
}

.corp-node .status {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 100;
}

.corp-node .complete {
  color: black;
}

.corp-node:hover .status {
  top: 1px;
  left: 1px;
}

.corp-node .progress {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.corp-node .lock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.open {
  background-color: #001100;
}
.chest {
  background-color: #001100;
}
.store {
  background-color: #001100;
}
.ice {
  background-color: #ddcc00;
}
.special {
  background-color: #666622;
}
