.corp-node {
  background-color: black;
  border: 0.5px solid gainsboro;
  box-sizing: border-box;
  color: red;
  display: block;
  font-size: 1em;
  /* opacity: 0.5; */
  position: absolute;
  text-align: left;
}

.corp-node .status { 
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.corp-node .lock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}
