.corp-shell {
  background-color: #003300;
  color: gainsboro;
  margin: 2em auto;
  padding: 10px;
}

.corp-network {
  background-image: url(http://localhost:3000/template.png);
  background-color: #001100;
  border: 1px solid black;
  margin: 10px auto;
  position: relative;
}
